In [3]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [4]:
import kagglehub

path = kagglehub.dataset_download("parasharmanas/movie-recommendation-system")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/movie-recommendation-system

In [5]:
ratings_full_df = pd.read_csv('/kaggle/input/movie-recommendation-system/ratings.csv')
movies_df = pd.read_csv('/kaggle/input/movie-recommendation-system/movies.csv')

In [23]:
mean_movie_ratings = ratings_full_df.groupby("movieId")["rating"].mean()
movies_df = movies_df.merge(mean_movie_ratings, how="left", on="movieId").rename({"rating":"ratings_movie_mean"}, axis=1)
movies_df

,movieId,title,genres,ratings_movie_mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893708
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.251527
2,3,Grumpier Old Men (1995),Comedy|Romance,3.142028
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.853547
4,5,Father of the Bride Part II (1995),Comedy,3.058434
...,...,...,...,...
62418,209157,We (2018),Drama,1.500000
62419,209159,Window of the Soul (2001),Documentary,3.000000
62420,209163,Bad Poems (2018),Comedy|Drama,4.500000
62421,209169,A Girl Thing (2001),(no genres listed),3.000000
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,3.000000

In [6]:
mean_user_ratings = ratings_full_df.groupby("userId")["rating"].mean()
mean_user_ratings

userId
1         3.814286
2         3.630435
3         3.697409
4         3.378099
5         3.752475
            ...
162537    4.039604
162538    3.415584
162539    4.510638
162540    3.829545
162541    3.365385
Name: rating, Length: 162541, dtype: float64

In [7]:
ratings_df = ratings_full_df.merge(mean_user_ratings, how="left", on="userId", suffixes=("", "_user_mean"))
ratings_df

          userId  movieId  rating   timestamp  rating_user_mean
0              1      296     5.0  1147880044          3.814286
1              1      306     3.5  1147868817          3.814286
2              1      307     5.0  1147868828          3.814286
3              1      665     5.0  1147878820          3.814286
4              1      899     3.5  1147868510          3.814286
...          ...      ...     ...         ...               ...
25000090  162541    50872     4.5  1240953372          3.365385
25000091  162541    55768     2.5  1240951998          3.365385
25000092  162541    56176     2.0  1240950697          3.365385
25000093  162541    58559     4.0  1240953434          3.365385
25000094  162541    63876     5.0  1240952515          3.365385

[25000095 rows x 5 columns]

In [8]:
datetimes = pd.to_datetime(ratings_df['timestamp'], unit='s')

ratings_df['year'] = datetimes.dt.year
ratings_df['month'] = datetimes.dt.month
ratings_df['day'] = datetimes.dt.day
ratings_df['day_of_week'] = datetimes.dt.dayofweek
ratings_df['hour'] = datetimes.dt.hour

In [9]:
def get_part_of_day(hour):
    if 5 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 17:
        return 'afternoon'
    elif 17 <= hour < 21:
        return 'evening'
    else:
        return 'night'

ratings_df['part_of_day'] = ratings_df['hour'].apply(get_part_of_day)

ratings_df = pd.get_dummies(ratings_df, columns=['part_of_day'], prefix='time')

ratings_df = ratings_df.drop(columns=['timestamp'])
ratings_df.head(15)

,userId,movieId,rating,rating_user_mean,year,month,day,day_of_week,hour,time_afternoon,time_evening,time_morning,time_night
0,1,296,5.0,3.814286,2006,5,17,2,15,True,False,False,False
1,1,306,3.5,3.814286,2006,5,17,2,12,True,False,False,False
2,1,307,5.0,3.814286,2006,5,17,2,12,True,False,False,False
3,1,665,5.0,3.814286,2006,5,17,2,15,True,False,False,False
4,1,899,3.5,3.814286,2006,5,17,2,12,True,False,False,False
5,1,1088,4.0,3.814286,2006,5,17,2,12,True,False,False,False
6,1,1175,3.5,3.814286,2006,5,17,2,12,True,False,False,False
7,1,1217,3.5,3.814286,2006,5,17,2,15,True,False,False,False
8,1,1237,5.0,3.814286,2006,5,17,2,12,True,False,False,False
9,1,1250,4.0,3.814286,2006,5,17,2,12,True,False,False,False
10,1,1260,3.5,3.814286,2006,5,17,2,14,True,False,False,False
11,1,1653,4.0,3.814286,2006,5,17,2,12,True,False,False,False
12,1,2011,2.5,3.814286,2006,5,17,2,12,True,False,False,False
13,1,2012,2.5,3.814286,2006,5,17,2,12,True,False,False,False
14,1,2068,2.5,3.814286,2006,5,17,2,12,True,False,False,False

In [10]:
def is_weekend(d):
  if d > 5:
    return True
  else:
    return False

ratings_df['is_weekend'] = ratings_df['day_of_week'].apply(is_weekend)

ratings_df.head(15)

,userId,movieId,rating,rating_user_mean,year,month,day,day_of_week,hour,time_afternoon,time_evening,time_morning,time_night,is_weekend
0,1,296,5.0,3.814286,2006,5,17,2,15,True,False,False,False,False
1,1,306,3.5,3.814286,2006,5,17,2,12,True,False,False,False,False
2,1,307,5.0,3.814286,2006,5,17,2,12,True,False,False,False,False
3,1,665,5.0,3.814286,2006,5,17,2,15,True,False,False,False,False
4,1,899,3.5,3.814286,2006,5,17,2,12,True,False,False,False,False
5,1,1088,4.0,3.814286,2006,5,17,2,12,True,False,False,False,False
6,1,1175,3.5,3.814286,2006,5,17,2,12,True,False,False,False,False
7,1,1217,3.5,3.814286,2006,5,17,2,15,True,False,False,False,False
8,1,1237,5.0,3.814286,2006,5,17,2,12,True,False,False,False,False
9,1,1250,4.0,3.814286,2006,5,17,2,12,True,False,False,False,False
10,1,1260,3.5,3.814286,2006,5,17,2,14,True,False,False,False,False
11,1,1653,4.0,3.814286,2006,5,17,2,12,True,False,False,False,False
12,1,2011,2.5,3.814286,2006,5,17,2,12,True,False,False,False,False
13,1,2012,2.5,3.814286,2006,5,17,2,12,True,False,False,False,False
14,1,2068,2.5,3.814286,2006,5,17,2,12,True,False,False,False,False

In [11]:
genres_list = movies_df['genres'].apply(lambda x: x.split('|'))
genres_list

0        [Adventure, Animation, Children, Comedy, Fantasy]
1                           [Adventure, Children, Fantasy]
2                                        [Comedy, Romance]
3                                 [Comedy, Drama, Romance]
4                                                 [Comedy]
                               ...
62418                                              [Drama]
62419                                        [Documentary]
62420                                      [Comedy, Drama]
62421                                 [(no genres listed)]
62422                           [Action, Adventure, Drama]
Name: genres, Length: 62423, dtype: object

In [12]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb.fit(genres_list)
mlb.transform(genres_list)
genre_encoded = pd.DataFrame(mlb.transform(genres_list),
                             columns=mlb.classes_,
                             index=movies_df.index)
genre_encoded.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
movies_encoded = pd.concat([movies_df.drop("genres", axis=1), genre_encoded], axis=1)
movies_encoded.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df = ratings_df.merge(movies_encoded, how="left", on="movieId")
df

,userId,movieId,rating,rating_user_mean,year,month,day,day_of_week,hour,time_afternoon,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,296,5.0,3.814286,2006,5,17,2,15,True,...,0,0,0,0,0,0,0,1,0,0
1,1,306,3.5,3.814286,2006,5,17,2,12,True,...,0,0,0,0,0,0,0,0,0,0
2,1,307,5.0,3.814286,2006,5,17,2,12,True,...,0,0,0,0,0,0,0,0,0,0
3,1,665,5.0,3.814286,2006,5,17,2,15,True,...,0,0,0,0,0,0,0,0,1,0
4,1,899,3.5,3.814286,2006,5,17,2,12,True,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25000090,162541,50872,4.5,3.365385,2009,4,28,1,21,False,...,0,0,0,0,0,0,0,0,0,0
25000091,162541,55768,2.5,3.365385,2009,4,28,1,20,False,...,0,0,0,0,0,0,0,0,0,0
25000092,162541,56176,2.0,3.365385,2009,4,28,1,20,False,...,0,0,0,0,0,0,0,0,0,0
25000093,162541,58559,4.0,3.365385,2009,4,28,1,21,False,...,0,0,1,0,0,0,0,0,0,0
25000094,162541,63876,5.0,3.365385,2009,4,28,1,21,False,...,0,0,0,0,0,0,0,0,0,0

In [15]:
mean_genres_by_users = pd.concat(
    [
        df["userId"], 
        df[list(mlb.classes_)].multiply(df['rating'],axis=0)
    ], axis=1
).groupby("userId").mean()
df = df.merge(mean_genres_by_users, how="left", on="userId", suffixes=("", "_mean_gen"))

In [17]:
df = df[:100000]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(["rating", "title"], axis=1), df["rating"], test_size=0.2, random_state=41)

In [26]:
X_train

,userId,movieId,rating_user_mean,year,month,day,day_of_week,hour,time_afternoon,time_evening,...,Film-Noir_mean_gen,Horror_mean_gen,IMAX_mean_gen,Musical_mean_gen,Mystery_mean_gen,Romance_mean_gen,Sci-Fi_mean_gen,Thriller_mean_gen,War_mean_gen,Western_mean_gen
84229,633,1460,4.677419,1998,5,22,4,12,True,False,...,0.000000,0.354839,0.000000,0.000000,0.774194,1.193548,0.548387,0.774194,0.000000,0.000000
1433,8,1440,3.612903,1998,3,21,5,14,True,False,...,0.032258,0.219355,0.051613,0.200000,0.451613,0.651613,0.554839,1.458065,0.187097,0.077419
21185,171,3534,4.219821,2005,1,12,2,21,False,False,...,0.038003,0.235469,0.025335,0.111028,0.385991,0.687034,0.490313,1.175112,0.248882,0.073770
3060,18,587,3.371658,2005,2,13,6,5,False,False,...,0.000000,0.312834,0.053476,0.120321,0.200535,0.582888,0.705882,1.074866,0.131016,0.018717
59152,468,6979,3.891061,2005,3,29,1,5,False,False,...,0.044693,0.145251,0.050279,0.078212,0.290503,0.765363,0.332402,0.969274,0.134078,0.022346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53491,431,2959,2.503322,2005,3,24,3,14,True,False,...,0.010797,0.155316,0.032392,0.093854,0.191030,0.362957,0.365449,0.672757,0.259136,0.118771
85986,648,45431,2.493411,2017,2,11,5,12,True,False,...,0.024890,0.087116,0.128111,0.055637,0.244510,0.430454,0.249634,0.657394,0.243777,0.054173
61324,489,1917,4.356918,2019,5,25,5,5,False,False,...,0.000000,0.493711,0.443396,0.000000,0.518868,0.444969,1.683962,1.737421,0.474843,0.020440
931,4,1288,3.378099,2019,11,16,5,22,False,False,...,0.000000,0.130165,0.411157,0.105372,0.283058,0.142562,1.111570,0.820248,0.123967,0.105372
34752,267,55820,3.747934,2013,8,7,2,20,False,True,...,0.000000,0.309917,0.190083,0.000000,0.413223,0.586777,0.446281,1.028926,0.413223,0.223140

In [27]:
#using kNN

def get_most_popular_rating(X_train, y_train, X_test, userId, movieId):
    movie_data = X_train[X_train["movieId"] == movieId]   
    if movie_data.empty:
        return y_train.mean()
    else:
        return movie_data.iloc[0]['rating_user_mean']

predict = [get_most_popular_rating(X_train, y_train, X_test, userId, movieId) for userId, movieId in zip(X_test["userId"], X_test["movieId"])]
predict

[3.9,
 3.586,
 3.6202898550724636,
 4.217563989408649,
 3.6538461538461537,
 3.4411764705882355,
 3.586,
 3.092063492063492,
 3.139130434782609,
 3.723684210526316,
 3.8767123287671232,
 3.1041666666666665,
 3.9056603773584904,
 3.4741379310344827,
 3.8168316831683167,
 3.840909090909091,
 3.6166666666666667,
 3.4477611940298507,
 3.3098739495798317,
 3.696759259259259,
 3.865625,
 3.7070063694267517,
 3.586,
 3.776315789473684,
 3.737142857142857,
 3.139064475347661,
 3.3220338983050848,
 3.401123595505618,
 3.2451612903225806,
 3.139064475347661,
 3.918067226890756,
 3.8484848484848486,
 3.865625,
 3.827996340347667,
 3.8238993710691824,
 3.24252801992528,
 3.4011627906976742,
 3.8867924528301887,
 3.7685185185185186,
 3.526190476190476,
 3.3098739495798317,
 3.6707317073170733,
 3.6056511056511056,
 3.24252801992528,
 3.773529411764706,
 3.7479338842975207,
 3.7615384615384615,
 4.685483870967742,
 3.586,
 3.1822222222222223,
 4.155882352941177,
 3.7479338842975207,
 3.586,
 2.5730434782608698,
 3.2880258899676376,
 3.8168316831683167,
 3.869565217391304,
 2.941028858218319,
 4.388888888888889,
 2.991489361702128,
 3.8267605633802817,
 3.139064475347661,
 3.4504504504504503,
 4.096837944664031,
 3.7479338842975207,
 3.1458333333333335,
 3.139064475347661,
 3.5210084033613445,
 3.5594660194174756,
 3.139367816091954,
 3.5594660194174756,
 2.863777089783282,
 2.518375241779497,
 3.7714285714285714,
 3.773529411764706,
 2.946291560102302,
 4.233009708737864,
 3.3321033210332103,
 3.9528795811518322,
 2.787878787878788,
 3.918067226890756,
 4.130681818181818,
 3.7666666666666666,
 3.423580786026201,
 3.4415584415584415,
 3.4590443686006824,
 2.518375241779497,
 3.328185328185328,
 4.218181818181818,
 3.4563106796116503,
 3.4504504504504503,
 3.918067226890756,
 3.3072916666666665,
 3.355769230769231,
 3.586,
 3.4558823529411766,
 3.526190476190476,
 3.73109243697479,
 2.518375241779497,
 3.737142857142857,
 3.543726235741445,
 4.379518072289157,
 3.3072916666666665,
 4.01304347826087,
 3.7857142857142856,
 3.3220338983050848,
 3.1297468354430378,
 3.6037735849056602,
 4.059945504087193,
 4.064814814814815,
 3.2625,
 3.7019867549668874,
 4.059945504087193,
 3.8867924528301887,
 3.3380281690140845,
 3.586,
 4.164,
 4.061994609164421,
 3.6129032258064515,
 3.2705882352941176,
 3.7019867549668874,
 3.2880258899676376,
 3.7954545454545454,
 4.219821162444113,
 3.586,
 3.773529411764706,
 4.222222222222222,
 3.139130434782609,
 3.8767123287671232,
 3.586,
 4.7592592592592595,
 3.4477611940298507,
 3.411242603550296,
 3.5120481927710845,
 3.6974085365853657,
 3.3484848484848486,
 3.642384105960265,
 4.364179104477612,
 3.675,
 2.9955489614243325,
 3.139130434782609,
 4.206896551724138,
 3.888888888888889,
 3.4545454545454546,
 3.526190476190476,
 4.4375,
 3.6285714285714286,
 3.092063492063492,
 3.4415584415584415,
 4.425187032418953,
 3.326530612244898,
 3.5210084033613445,
 3.75,
 2.802139037433155,
 3.840909090909091,
 3.527638190954774,
 3.6677577741407528,
 4.01304347826087,
 3.51779359430605,
 3.3072916666666665,
 3.3098739495798317,
 3.6677577741407528,
 3.6056511056511056,
 3.6677577741407528,
 3.401123595505618,
 1.8358895705521472,
 4.522222222222222,
 3.7160493827160495,
 3.918067226890756,
 2.5730434782608698,
 4.156283566058002,
 3.9,
 4.155882352941177,
 3.9,
 3.8910614525139664,
 3.7685185185185186,
 3.24252801992528,
 3.6037735849056602,
 3.2235421166306697,
 3.9153846153846152,
 3.827996340347667,
 4.538461538461538,
 3.3220338983050848,
 3.6012861736334405,
 3.7615384615384615,
 3.776315789473684,
 4.155882352941177,
 3.1825396825396823,
 3.51779359430605,
 3.391891891891892,
 3.2131147540983607,
 3.3220338983050848,
 3.44,
 4.291095890410959,
 3.049738219895288,
 3.546979865771812,
 4.425187032418953,
 2.941028858218319,
 4.217563989408649,
 3.3220338983050848,
 3.8214285714285716,
 4.110429447852761,
 3.6202898550724636,
 3.1825396825396823,
 3.25,
 2.935567010309278,
 2.493411420204978,
 3.8461538461538463,
 3.296195652173913,
 3.586,
 4.7,
 3.328185328185328,
 4.053921568627451,
 3.2789598108747047,
 3.6551724137931036,
 3.894463667820069,
 3.989130434782609,
 3.296195652173913,
 3.7222222222222223,
 3.9895833333333335,
 3.5210084033613445,
 3.2789598108747047,
 4.011173184357542,
 3.730337078651685,
 3.243027888446215,
 3.139130434782609,
 3.24252801992528,
 3.558922558922559,
 4.248175182481752,
 3.6136363636363638,
 4.131914893617021,
 3.8807339449541285,
 4.082125603864735,
 3.8168316831683167,
 2.941028858218319,
 3.24252801992528,
 3.730337078651685,
 2.991489361702128,
 3.5420673076923075,
 3.5357142857142856,
 3.7333333333333334,
 4.082125603864735,
 3.401123595505618,
 3.779552715654952,
 3.530075187969925,
 3.3299319727891157,
 4.2,
 4.473214285714286,
 3.696759259259259,
 3.9528795811518322,
 3.3072916666666665,
 3.2235421166306697,
 4.522222222222222,
 4.209302325581396,
 3.4741379310344827,
 4.596774193548387,
 3.7070063694267517,
 3.139064475347661,
 3.2789598108747047,
 3.9,
 3.5223880597014925,
 3.9895833333333335,
 4.413043478260869,
 3.380281690140845,
 4.7592592592592595,
 3.4558823529411766,
 3.8807339449541285,
 3.3098739495798317,
 3.049738219895288,
 3.296195652173913,
 2.946291560102302,
 3.586,
 4.131914893617021,
 4.027777777777778,
 4.035714285714286,
 3.690909090909091,
 3.776315789473684,
 3.586,
 3.696759259259259,
 2.9955489614243325,
 3.3220338983050848,
 3.993377483443709,
 3.6794871794871793,
 3.6546511627906977,
 3.24252801992528,
 3.75,
 3.3548387096774195,
 3.776978417266187,
 3.8820224719101124,
 3.7615384615384615,
 3.827996340347667,
 3.9402985074626864,
 3.527638190954774,
 3.3072916666666665,
 3.3098739495798317,
 3.7954545454545454,
 4.130681818181818,
 2.802139037433155,
 3.590909090909091,
 3.8820224719101124,
 2.941028858218319,
 2.813380281690141,
 3.586,
 3.411242603550296,
 4.05,
 3.8767123287671232,
 3.3321033210332103,
 3.622140221402214,
 4.1908831908831905,
 4.953488372093023,
 3.7954545454545454,
 3.7160493827160495,
 2.935567010309278,
 2.431077694235589,
 3.622140221402214,
 3.794943820224719,
 3.3321033210332103,
 3.1015625,
 3.794943820224719,
 4.73469387755102,
 2.8762886597938144,
 4.217563989408649,
 3.763843648208469,
 3.586,
 3.827996340347667,
 3.761904761904762,
 3.2136563876651985,
 2.5476190476190474,
 3.827996340347667,
 3.2460815047021945,
 3.2451612903225806,
 3.4011627906976742,
 4.333333333333333,
 3.630434782608696,
 3.730337078651685,
 3.24252801992528,
 4.578125,
 4.1625,
 3.139064475347661,
 4.035714285714286,
 3.2451612903225806,
 4.043478260869565,
 4.409756097560976,
 3.6666666666666665,
 3.5609756097560976,
 4.28125,
 4.2592592592592595,
 3.44,
 3.401123595505618,
 4.110429447852761,
 3.9,
 3.437007874015748,
 3.6844660194174756,
 2.941028858218319,
 3.292105263157895,
 3.3325,
 4.035714285714286,
 3.1825396825396823,
 3.8168316831683167,
 3.888888888888889,
 3.1822222222222223,
 3.6051136363636362,
 3.6041666666666665,
 3.5860465116279068,
 3.389502762430939,
 3.588785046728972,
 3.2789598108747047,
 3.9662162162162162,
 3.725,
 4.924242424242424,
 3.9895833333333335,
 3.6546511627906977,
 3.3321033210332103,
 4.082125603864735,
 4.035714285714286,
 3.485074626865672,
 2.941028858218319,
 4.3569182389937104,
 3.4504504504504503,
 3.3325,
 3.1774193548387095,
 3.865625,
 3.296195652173913,
 3.326530612244898,
 3.9,
 3.485074626865672,
 3.953488372093023,
 2.493411420204978,
 3.2235421166306697,
 3.3299319727891157,
 3.75,
 3.953488372093023,
 4.05,
 4.036082474226804,
 3.3321033210332103,
 3.643478260869565,
 2.493411420204978,
 3.2625,
 3.6677577741407528,
 3.763843648208469,
 3.5223880597014925,
 4.01304347826087,
 4.219821162444113,
 4.7592592592592595,
 3.6085714285714285,
 3.7714285714285714,
 3.4411764705882355,
 4.219821162444113,
 4.059945504087193,
 3.4411764705882355,
 4.409756097560976,
 3.894463667820069,
 3.24252801992528,
 2.9955489614243325,
 3.543726235741445,
 4.05,
 3.139130434782609,
 4.059945504087193,
 4.233009708737864,
 3.355769230769231,
 3.9239130434782608,
 3.3072916666666665,
 2.802139037433155,
 2.941860465116279,
 2.8229166666666665,
 3.4345047923322682,
 2.787878787878788,
 4.012195121951219,
 3.323809523809524,
 3.586,
 4.217563989408649,
 2.935567010309278,
 2.935567010309278,
 3.589795918367347,
 2.5476190476190474,
 2.946291560102302,
 3.9662162162162162,
 4.156283566058002,
 4.219821162444113,
 3.8168316831683167,
 3.869565217391304,
 3.485074626865672,
 3.3321033210332103,
 3.6202898550724636,
 3.586,
 3.130952380952381,
 3.389502762430939,
 3.8168316831683167,
 3.391891891891892,
 2.935567010309278,
 4.473214285714286,
 3.894463667820069,
 4.335341365461847,
 3.526190476190476,
 3.6677577741407528,
 3.3321033210332103,
 3.6538461538461537,
 3.776978417266187,
 3.7432432432432434,
 3.827996340347667,
 4.7,
 3.630434782608696,
 3.6604938271604937,
 2.493411420204978,
 2.935567010309278,
 3.411242603550296,
 3.7222222222222223,
 3.357429718875502,
 3.3220338983050848,
 3.24252801992528,
 3.7666666666666666,
 3.2451612903225806,
 3.7954545454545454,
 3.24252801992528,
 3.2625,
 3.586,
 3.24252801992528,
 3.888888888888889,
 3.9662162162162162,
 4.127450980392157,
 4.05050505050505,
 3.8910614525139664,
 3.8238993710691824,
 2.9955489614243325,
 3.24252801992528,
 3.23,
 2.431077694235589,
 4.536363636363636,
 3.405940594059406,
 3.8807339449541285,
 3.7685185185185186,
 3.527638190954774,
 2.946291560102302,
 3.827996340347667,
 3.24252801992528,
 3.5462962962962963,
 3.2136563876651985,
 3.586,
 3.401123595505618,
 3.3220338983050848,
 2.5730434782608698,
 3.6166666666666667,
 4.219821162444113,
 3.622140221402214,
 2.493411420204978,
 4.84,
 3.139130434782609,
 3.6677577741407528,
 3.4872611464968153,
 2.802139037433155,
 3.411242603550296,
 3.8767123287671232,
 3.355769230769231,
 3.519867549668874,
 3.6677577741407528,
 3.558922558922559,
 3.877049180327869,
 3.5609756097560976,
 3.3072916666666665,
 3.6041666666666665,
 3.4872611464968153,
 3.437007874015748,
 3.411242603550296,
 3.6056511056511056,
 2.518375241779497,
 3.7714285714285714,
 2.941028858218319,
 2.8762886597938144,
 3.8168316831683167,
 3.323809523809524,
 3.6974085365853657,
 4.217563989408649,
 3.24252801992528,
 4.108695652173913,
 3.8767123287671232,
 3.389502762430939,
 3.586,
 3.1297468354430378,
 3.6202898550724636,
 4.217563989408649,
 4.484848484848484,
 3.8767123287671232,
 3.526190476190476,
 4.011173184357542,
 3.6056511056511056,
 3.0049019607843137,
 2.9955489614243325,
 3.5972222222222223,
 3.642384105960265,
 3.4863013698630136,
 3.2789598108747047,
 4.131914893617021,
 2.431077694235589,
 3.2740384615384617,
 2.813380281690141,
 3.3098739495798317,
 3.6012861736334405,
 2.787878787878788,
 4.05,
 2.946291560102302,
 3.9662162162162162,
 3.139064475347661,
 3.642384105960265,
 3.049738219895288,
 3.7222222222222223,
 3.888888888888889,
 3.139064475347661,
 3.8767123287671232,
 3.625,
 3.586,
 3.773529411764706,
 3.716417910447761,
 3.411242603550296,
 3.586,
 2.941028858218319,
 3.4504504504504503,
 3.9153846153846152,
 4.02,
 3.696759259259259,
 3.2740384615384617,
 3.918067226890756,
 3.5462962962962963,
 3.7070063694267517,
 4.364179104477612,
 3.4741379310344827,
 2.941028858218319,
 3.395121951219512,
 3.24252801992528,
 3.4411764705882355,
 2.518375241779497,
 3.6604938271604937,
 3.423580786026201,
 4.0606060606060606,
 3.586,
 4.27,
 4.217563989408649,
 3.7432432432432434,
 3.4872611464968153,
 4.061994609164421,
 2.946291560102302,
 3.6051136363636362,
 4.156283566058002,
 3.796875,
 2.5476190476190474,
 3.865,
 3.5594660194174756,
 3.9528795811518322,
 3.586,
 4.108695652173913,
 3.586,
 3.5860465116279068,
 4.0256410256410255,
 3.139064475347661,
 3.3220338983050848,
 3.2136563876651985,
 3.3299319727891157,
 3.2136563876651985,
 3.6974085365853657,
 3.139064475347661,
 3.8653846153846154,
 3.411242603550296,
 3.6619047619047618,
 3.24252801992528,
 4.2727272727272725,
 3.9056603773584904,
 3.2880258899676376,
 3.9583333333333335,
 3.4615384615384617,
 2.941028858218319,
 3.1297468354430378,
 3.827996340347667,
 3.8767123287671232,
 4.3569182389937104,
 4.019230769230769,
 3.730337078651685,
 3.9,
 3.1825396825396823,
 3.3299319727891157,
 3.7222222222222223,
 2.5185185185185186,
 3.3220338983050848,
 4.166666666666667,
 3.6546511627906977,
 2.493411420204978,
 3.588785046728972,
 3.3220338983050848,
 3.8617021276595747,
 3.6844660194174756,
 4.425187032418953,
 2.8762886597938144,
 3.1297468354430378,
 4.291095890410959,
 4.364179104477612,
 4.364179104477612,
 2.5033222591362128,
 3.3321033210332103,
 4.379518072289157,
 3.772727272727273,
 3.1297468354430378,
 3.296195652173913,
 3.586,
 3.401123595505618,
 3.9402985074626864,
 3.2460815047021945,
 3.24252801992528,
 3.24252801992528,
 2.493411420204978,
 3.4741379310344827,
 4.233009708737864,
 3.586,
 2.941028858218319,
 4.035714285714286,
 3.4415584415584415,
 3.9528795811518322,
 3.5210084033613445,
 2.493411420204978,
 4.217563989408649,
 3.3220338983050848,
 4.156283566058002,
 3.139064475347661,
 3.9402985074626864,
 3.776315789473684,
 3.6129032258064515,
 3.8767123287671232,
 3.5791433891992552,
 3.5791433891992552,
 2.8552631578947367,
 3.6677577741407528,
 3.588785046728972,
 3.526190476190476,
 3.5420673076923075,
 3.3299319727891157,
 3.3098739495798317,
 3.3484848484848486,
 3.323809523809524,
 3.4563106796116503,
 3.152173913043478,
 3.2880258899676376,
 4.217563989408649,
 4.7,
 4.082125603864735,
 4.18018018018018,
 3.73109243697479,
 3.776315789473684,
 3.5357142857142856,
 3.8807339449541285,
 3.532258064516129,
 3.7019867549668874,
 4.059945504087193,
 3.9153846153846152,
 3.24252801992528,
 3.401123595505618,
 3.5288683602771362,
 3.586,
 4.3569182389937104,
 3.5357142857142856,
 3.296195652173913,
 3.348265895953757,
 4.217563989408649,
 4.209302325581396,
 2.935567010309278,
 3.111111111111111,
 3.6041666666666665,
 3.586,
 3.2235421166306697,
 3.642384105960265,
 3.4864864864864864,
 4.4375,
 4.219821162444113,
 3.411242603550296,
 2.2210884353741496,
 3.423580786026201,
 2.5730434782608698,
 4.035714285714286,
 3.2072538860103625,
 3.139367816091954,
 3.6085714285714285,
 3.24252801992528,
 4.425187032418953,
 2.802139037433155,
 3.199261992619926,
 4.008474576271187,
 3.586,
 2.937777777777778,
 3.5791433891992552,
 2.946291560102302,
 3.5391061452513966,
 3.389502762430939,
 4.108695652173913,
 3.675675675675676,
 4.529411764705882,
 3.24252801992528,
 2.935567010309278,
 4.059945504087193,
 3.5288683602771362,
 3.5288683602771362,
 3.348265895953757,
 3.8807339449541285,
 3.23,
 4.027397260273973,
 3.913793103448276,
 3.827996340347667,
 2.946291560102302,
 2.937777777777778,
 3.326530612244898,
 3.7954545454545454,
 3.5210084033613445,
 3.993377483443709,
 3.7222222222222223,
 4.131914893617021,
 3.6974085365853657,
 3.4411764705882355,
 3.588785046728972,
 3.2136563876651985,
 3.1297468354430378,
 3.4871794871794872,
 3.7070063694267517,
 2.431077694235589,
 3.988826815642458,
 4.323529411764706,
 4.273255813953488,
 4.462686567164179,
 3.6268248175182483,
 3.6677577741407528,
 3.2880258899676376,
 4.578125,
 3.323809523809524,
 3.796875,
 3.7222222222222223,
 3.6037735849056602,
 3.116279069767442,
 3.527638190954774,
 3.292105263157895,
 3.401123595505618,
 4.061994609164421,
 3.9,
 3.827996340347667,
 4.233009708737864,
 4.2,
 3.2136563876651985,
 3.1297468354430378,
 1.8358895705521472,
 2.5730434782608698,
 3.257142857142857,
 4.035714285714286,
 3.586,
 3.8767123287671232,
 3.763843648208469,
 3.4558823529411766,
 3.8333333333333335,
 4.096837944664031,
 2.518375241779497,
 3.3321033210332103,
 3.3484848484848486,
 3.894463667820069,
 3.1826923076923075,
 3.8,
 2.991489361702128,
 2.518375241779497,
 3.622140221402214,
 4.522222222222222,
 3.6041666666666665,
 3.3321033210332103,
 3.527638190954774,
 3.3098739495798317,
 4.131914893617021,
 3.4318181818181817,
 3.485074626865672,
 2.493411420204978,
 4.155882352941177,
 4.529411764705882,
 3.588785046728972,
 4.155882352941177,
 3.7954545454545454,
 3.2880258899676376,
 3.355769230769231,
 3.5420673076923075,
 2.9150943396226414,
 2.5730434782608698,
 3.9224137931034484,
 2.863777089783282,
 3.391891891891892,
 3.519867549668874,
 3.827996340347667,
 3.3098739495798317,
 3.2880258899676376,
 3.199261992619926,
 3.7019867549668874,
 3.5594660194174756,
 3.716417910447761,
 3.827996340347667,
 4.3569182389937104,
 4.219821162444113,
 4.209302325581396,
 3.8867924528301887,
 4.171487603305785,
 3.8767123287671232,
 3.642384105960265,
 4.7,
 3.776978417266187,
 3.622140221402214,
 4.164,
 4.2,
 3.622140221402214,
 3.586,
 3.3321033210332103,
 3.8907563025210083,
 2.5730434782608698,
 3.515151515151515,
 4.082125603864735,
 3.5860465116279068,
 3.7448275862068967,
 4.2,
 3.773529411764706,
 3.607142857142857,
 3.763843648208469,
 2.853125,
 3.6666666666666665,
 3.2880258899676376,
 2.946291560102302,
 3.8488372093023258,
 3.8181818181818183,
 3.1666666666666665,
 3.696759259259259,
 3.8767123287671232,
 3.5,
 3.323809523809524,
 4.209302325581396,
 3.139367816091954,
 3.2789598108747047,
 4.035714285714286,
 3.5641025641025643,
 3.5609756097560976,
 2.5730434782608698,
 3.763843648208469,
 4.061994609164421,
 1.8358895705521472,
 3.586,
 3.7070063694267517,
 3.91025641025641,
 3.24252801992528,
 3.2460815047021945,
 3.0225563909774436,
 3.865168539325843,
 3.642384105960265,
 4.036082474226804,
 3.586,
 3.532258064516129,
 4.082125603864735,
 3.8807339449541285,
 3.827996340347667,
 3.888888888888889,
 3.6129032258064515,
 3.586,
 4.2727272727272725,
 3.6129032258064515,
 4.413043478260869,
 4.206896551724138,
 4.3569182389937104,
 3.8168316831683167,
 3.378099173553719,
 3.2235421166306697,
 3.75,
 3.437007874015748,
 3.8445945945945947,
 3.6677577741407528,
 3.5288683602771362,
 3.779552715654952,
 3.7857142857142856,
 3.75,
 3.9239130434782608,
 3.7019867549668874,
 3.7448275862068967,
 3.9239130434782608,
 3.4477611940298507,
 2.787878787878788,
 3.7685185185185186,
 2.941028858218319,
 3.857142857142857,
 4.364179104477612,
 3.3072916666666665,
 3.6677577741407528,
 4.228260869565218,
 3.3072916666666665,
 3.2451612903225806,
 4.059945504087193,
 3.3072916666666665,
 3.894463667820069,
 2.937777777777778,
 3.24252801992528,
 3.6268248175182483,
 3.4504504504504503,
 3.2072538860103625,
 3.8867924528301887,
 3.5420673076923075,
 3.594240837696335,
 3.24252801992528,
 3.3098739495798317,
 4.035714285714286,
 3.8767123287671232,
 3.7685185185185186,
 3.1015625,
 4.291095890410959,
 3.622140221402214,
 3.7181818181818183,
 3.6202898550724636,
 3.2460815047021945,
 4.538461538461538,
 3.4872611464968153,
 3.827996340347667,
 4.217563989408649,
 3.827996340347667,
 3.139367816091954,
 4.035714285714286,
 4.217563989408649,
 3.4411764705882355,
 3.6677577741407528,
 3.8333333333333335,
 3.827996340347667,
 4.131914893617021,
 1.8358895705521472,
 3.586,
 4.479166666666667,
 3.2789598108747047,
 3.4872611464968153,
 3.918067226890756,
 2.937777777777778,
 3.5972222222222223,
 4.248175182481752,
 3.989130434782609,
 3.9224137931034484,
 4.064814814814815,
 4.480916030534351,
 3.6974085365853657,
 3.3321033210332103,
 4.024193548387097,
 2.985611510791367,
 3.3321033210332103,
 3.139064475347661,
 3.7083333333333335,
 ...]

In [29]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
import pandas as pd

def evaluate_model(predict, y_test):
    metrics = {
        "Mean Squared Error (MSE)": mean_squared_error(y_test, predict),
        "Mean Absolute Error (MAE)": mean_absolute_error(y_test, predict),
        "Mean Absolute Percentage Error (MAPE)": mean_absolute_percentage_error(y_test, predict) * 100,
        "R-squared (R²)": r2_score(y_test, predict)
    }
    results_df = pd.DataFrame(metrics.items(), columns=["Metric", "Value"])
    print("\nModel Evaluation Metrics:")
    print(results_df.to_string(index=False, float_format="%.4f"))


evaluate_model(predict, y_test)

Model Evaluation Metrics:
                               Metric   Value
             Mean Squared Error (MSE)  1.2400
            Mean Absolute Error (MAE)  0.8784
Mean Absolute Percentage Error (MAPE) 38.5658
                       R-squared (R²) -0.1473

In [31]:
def get_recommendation(X_train, y_train, X_test, userId, movieId):
    movie_data = X_train[X_train["movieId"] == movieId]
    if movie_data.empty:
        return y_train.mean()
    user_data = X_test[X_test["userId"] == userId]

    movie_mean_rating = movie_data.iloc[0]["rating_user_mean"]
    user_mean_rating = user_data["rating_user_mean"].iloc[0]

    final_score = (0.5 * movie_mean_rating) + (0.5 * user_mean_rating)

    return final_score



predict = [get_recommendation(X_train, y_train, X_test, userId, movieId) for userId, movieId in zip(X_test["userId"], X_test["movieId"])]
evaluate_model(predict, y_test)

Model Evaluation Metrics:
                               Metric   Value
             Mean Squared Error (MSE)  0.9523
            Mean Absolute Error (MAE)  0.7663
Mean Absolute Percentage Error (MAPE) 34.3396
                       R-squared (R²)  0.1189

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(["userId", "movieId", "rating", "title"], axis=1), df["rating"], test_size=0.2, random_state=41)

In [34]:
#using linear regression

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
predict = linear_model.predict(X_test)
evaluate_model(predict, y_test)

Model Evaluation Metrics:
                               Metric   Value
             Mean Squared Error (MSE)  0.8308
            Mean Absolute Error (MAE)  0.7047
Mean Absolute Percentage Error (MAPE) 31.0413
                       R-squared (R²)  0.2313

In [ ]:
#using XGBoost

from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
xgb_model = XGBRegressor()
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor

xgb_model = XGBRegressor()

param_grid = {
    'max_depth': [7, 9, 10],         # Different depths for the trees
    'gamma': [0.1, 0.15, 0.3],         # Minimum loss reduction to make a split
    'alpha': [0.1, 0.15, 0.3],         # L1 regularization term on weights
    'reg_lambda': [1.5, 2, 2.5],          # L2 regularization term on weights
    'learning_rate': [0.02, 0.05, 0.1], # Learning rate
    'n_estimators': [200, 300, 400]   # Number of trees
}

random_search = RandomizedSearchCV(
    estimator=xgb_model,
    param_distributions=param_grid,
    n_iter=50,
    scoring='neg_mean_squared_error',
    cv=5,
    verbose=1,
    random_state=42,
    n_jobs=-1
)
random_search.fit(X_train, y_train)
best_params = random_search.best_params_
best_model = random_search.best_estimator_

print("Best Parameters:", best_params)
# there should be ... Best Parameters: {'reg_lambda': 2.5, 'n_estimators': 300, 'max_depth': 7, 'learning_rate': 0.1, 'gamma': 0.1, 'alpha': 0.15}

Fitting 5 folds for each of 50 candidates, totalling 250 fits

In [ ]:
predict = best_model.predict(X_test)

In [ ]:
evaluate_model(predict, y_test)

In [ ]:
import matplotlib.pyplot as plt

best_model.feature_importances_
sorted_idx = best_model.feature_importances_.argsort()
plt.figure(figsize=(10,25))
plt.barh(X_test.columns[sorted_idx], best_model.feature_importances_[sorted_idx])